// Hola mundo desde Jade
doctype html

html(lang="es-ES")
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/style.css")
    link(rel="shortcut icon", href="./img/coffee.ico", type="image/x-icon")
  body
    article#container
      img(src="https://camo.githubusercontent.com/2eb688a747805c9acd144faf728c8a30f86fc4ca5fb39e6528232f0372151364/68747470733a2f2f63646e2e7261776769742e636f6d2f7075676a732f7075672d6c6f676f2f656563343336636565386664396431373236643738333963626539396431663639343639326330632f5356472f7075672d66696e616c2d6c6f676f2d5f2d636f6c6f75722d3132382e737667", alt="alt")
    section 
      h1=  title
      a(href= link, target='_blank') Web 
      hr
      p= description
      hr
      br
      button#click Click
    script. 
      document.querySelector('#click').onclick = ()=>{
        alert('Javascript In Pug')
      }
    footer
      a(href="https://github.com/kaiserkey", target="_blank", rel="github profile") by kaiserkey